.todo__field {
  display: flex;
  gap: 16px;
  height: 38px;
}

.field__input {
  width: 595px;
  padding: 11px 16px;
  background-color: var(--bg-color); 
  color: var(--text-color);
  border: 1px solid var(--border-color);
  border-radius: 5px;
  outline: none;
  height: 38px;
  cursor: pointer;

  &::placeholder {
    color: var(--search-text);
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    pointer-events: none;
  }
}

.field {
  &__search-wrapper {
    position: relative;
    flex-grow: 1;
    display: flex;
    align-items: center;
  }

  &__search-icon {
    position: absolute;
    right: 8.5px;
    pointer-events: none;
    color: var(--primary-color);
  }
}