$primary-color: #6c63ff;
$text-color: #f7f7f7;
$border-color: #6c63ff;
$text-color-dark: #000000;

.todo__field {
  display: flex;
  gap: 16px;
  height: 38px;
}

.field__input {
  width: 595px;
  padding: 11px 16px;
  border: 1px solid $border-color;
  border-radius: 5px;
  outline: none;
  height: 38px;
  cursor: pointer;

  &::placeholder {
    color: #c3c1e5;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    pointer-events: none;
  }

  .dark-theme & {
    background-color: #252525; 
    color: $text-color;
    border-color: $text-color;

    &::placeholder {
      color: #666666;
    }
  }
}

.field {
  &__search-wrapper {
    position: relative;
    flex-grow: 1;
    display: flex;
    align-items: center;
  }

  &__search-icon {
    position: absolute;
    right: 8.5px;
    pointer-events: none;
    color: $primary-color;
  }
}