.todo__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;
  width: 100%;
  align-items: center;
}

.not-found {
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 18px;
  margin-top: 50px;
  color: #252525;
}

.no-found {
  width: 221px;
  height: 174px;
}
