.todo__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;
  width: 100%;
  align-items: center;
}

.not-found {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 18px;
  margin-top: 50px;
}
