.todo__item {
  display: flex;
  align-items: center;
  padding-bottom: 17px;
  width: 100%;
  width: 525px;
  border-bottom: 1px solid #6C63FF;
}

.todo-item__checkbox {
  width: 26px;
  height: 26px;
  -webkit-appearance: none;
  width: 26px;
  height: 26px;
  border: 1px solid #6C63FF;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 17px;
}

.todo-item__checkbox:checked {
 background-image: url("../../assets/svg/checked.svg");
 background-repeat: no-repeat;
 background-position: center center;
}

.todo-item__label {
  width: 420px;
  cursor: pointer;
  font-weight: 500;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.todo-item--completed {
  .todo-item__label {
    text-decoration: line-through;
    color: var(--text-edit);
    opacity: 0.5;
  }

  .todo-item__checkbox {
    background-color: #6C63FF;
  }
}

.todo-item__actions {
  display: flex;
  gap: 5px;
}

.todo-item__edit {
  flex: 1;
  font-size: 16px;
  color: #C8C8C8;
  border: none;
  outline: none;
  text-decoration: underline;
  text-decoration-style: dashed;
  text-underline-offset: 5px;
}
