$primary-color: #6c63ff;
$text-color: #f7f7f7;
$border-color: #6c63ff;

.todo__item {
  display: flex;
  align-items: center;
  padding-bottom: 17px;
  width: 100%;
  width: 525px;
  border-bottom: 1px solid $border-color;
}

.todo-item__checkbox {
  width: 26px;
  height: 26px;
  -webkit-appearance: none;
  width: 26px;
  height: 26px;
  border: 1px solid $border-color;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 17px;
}

.todo-item__label { 
  width: 420px;
  cursor: pointer;
  font-weight: 500;
  font-size: 20px;
    display: flex;
  align-items: center;
}