$primary-color: #6c63ff;
$border-color: #6c63ff;

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  padding-top: 118px;
}

.modal__content {
  width: 500px;
  height: 289px;
  background-color: var(--bg-color);
  border-radius: 15px;
}

.modal__title {
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 18px;
  margin-bottom: 25px;
  font-size: 24px;
}

.modal__input {
  width: 440px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  outline: none;
  height: 38px;
  cursor: pointer;
  margin-bottom: 110px;
  padding-left: 16px;
  

  &::placeholder {
    color: var(--search-text);
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    pointer-events: none;
    background-color: var(--bg-color);
  }
}

.modal__actions {
  display: flex;
  justify-content: space-between; 
  padding: 0 30px;                
  width: 100%;                    
  box-sizing: border-box;     
}

.modal__btn__cancel {
  width: 110px;
  height: 38px;
  border: 1px solid $border-color;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--bg-color);
  color: $primary-color;
  font-weight: 500;
  font-size: 18px;
}

.modal__btn__apply {
  width: 97px;
  height: 38px;
  border: 1px solid $border-color;
  border-radius: 5px;
  cursor: pointer;
  background-color: $primary-color;
  color: white;
  font-weight: 500;
  font-size: 18px;
}