.custom-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background: transparent;
  padding: 0; 
  transition: opacity 0.2s;

  &:hover {
    opacity: 0.7;
  }
}

.button--icon {
  width: 38px; 
  height: 38px;
  
  &:hover {
    svg path {
      stroke: #6c63ff; 
    }
  }
}

.todo-item__actions {
  display: flex;
}