@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;700&family=Raleway:wght@400;700&family=Saira:wght@400;700&display=swap');

body {
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 40px;
  font-family: 'Kanit', sans-serif;
}

html, body {
  background-color: var(--bg-color); 
}