@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;700&family=Raleway:wght@400;700&family=Saira:wght@400;700&display=swap');

body {
  display: flex;
  justify-content: center;
  align-items: start;
  min-height: 100vh;
  padding: 100px 30px;
  font-family: 'Kanit', sans-serif;
  background-color: var(--color-gray-1);
}
