$primary-color: #6c63ff;
$text-color: #f7f7f7;
$border-color: #6c63ff;

.todo {
  max-width: 750px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.button__all {
  background-color: $border-color;
  color: $text-color;
  border: none;
  border-radius: 5px;
  width: 85px;
  height: 38px;
  cursor: pointer;
  font-weight: 65px;
  font-weight: 500;
  font-size: 18px;
}

.button__theme {
  background-color: $border-color;
  color: $text-color;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-item__delete-button {
  background-color: #ffffff; 
  border: none; 
  width: 50px;         
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease; 
  margin-left: 10px;         
  color: #CDCDCD;

  &:hover {
    svg path {
      stroke: $primary-color;
    }
  }
}

.todo__title {
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 18px;
}