$primary-color: #6c63ff;
$text-color: #f7f7f7;
$border-color: #6c63ff;

.todo {
  max-width: 750px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.todo__title {
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 18px;
}

.todo__field {
  display: flex;
  gap: 16px;
  height: 38px;
}

.field__input {
  width: 595px;
  padding: 11px 16px;
  border: 1px solid $border-color;
  border-radius: 5px;
  outline: none;
  height: 38px;
  cursor: pointer;

  &::placeholder {
    color: #c3c1e5;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    pointer-events: none;
  }
}

.field {
  &__search-wrapper {
    position: relative;
    flex-grow: 1;
    display: flex;
    align-items: center;
  }

  &__search-icon {
    position: absolute;
    right: 8.5px;
    pointer-events: none;
    color: $primary-color;
  }
}

.button__all {
  background-color: $border-color;
  color: $text-color;
  border: none;
  border-radius: 5px;
  width: 85px;
  height: 38px;
  cursor: pointer;
  font-weight: 65px;
  font-weight: 500;
  font-size: 18px;
}

.button__theme {
  background-color: $border-color;
  color: $text-color;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;
  width: 100%;
  align-items: center;
}

.todo-item__delete-button {
  background-color: #ffffff; 
  border: none; 
  width: 50px;         
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease; 
  margin-left: 10px;         
  color: #CDCDCD;

  &:hover {
    svg path {
      stroke: $primary-color;
    }
  }
}

