$primary-color: #6c63ff;
$text-color: #f7f7f7;
$text-color-dark: #000000;
$border-color: #6c63ff;
$border-color: #6c63ff;

.todo {
  max-width: 750px;
  width: 100%;
  margin: 0 auto;
  text-align: center;

  &.dark-theme {
    background-color: $text-color-dark;

    .todo__title {
      color: $text-color;
    }
  }
}

.button__theme {
  background-color: $border-color;
  color: $text-color;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-item__delete-button {
  background-color: #ffffff;
  border: none;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease;
  margin-left: 10px;
  color: #cdcdcd;

  &:hover {
    svg path {
      stroke: $primary-color;
    }
  }
}

.todo__title {
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 18px;
}

.button__add {
  background-color: $border-color;
  color: $text-color;
  border: none;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  font-weight: 650px;
  font-weight: 500;
  font-size: 40px;
  margin-left: 700px;
}
