:root {
  --primary-color: #6c63ff;
  --bg-color: #ffffff;
  --text-color: #252525;
  --border-color: #6c63ff;
  --search-text: #C3C1E5;
  --text-edit: #252525;
}

[data-theme='dark'] {
  --bg-color: #252525;
  --text-color: #f7f7f7;
  --border-color: #f7f7f7; 
  --placeholder-color: #252525;
  --search-text: #666666;
  --primary-color: #f7f7f7;
  --text-edit: #FFFFFF80;
}

.todo {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  text-align: center;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.field {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.todo__title, 
.todo-list {
  width: 100%;
  max-width: 750px;
}

.button__theme {
  background-color: #6C63FF;
  color: var(--text-color);
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-item__delete-button {
  background-color: var(--bg-color);
  border: none;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease;
  margin-left: 10px;
  color: #cdcdcd;

  &:hover {
    svg path {
      stroke: var(--primary-color);
    }
  }
}

.todo__title, .field, .todo-list {
  max-width: 750px; 
  width: 100%;
}

.button__add {
  background-color: #6C63FF;
  color: #ffffff;
  border: none;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  font-weight: 650px;
  font-weight: 500;
  font-size: 40px;
  margin-left: 700px;
}
