$primary-color: #6c63ff;
$text-color: #f7f7f7;
$text-color-dark: #252525;
$border-color: #6c63ff;
$border-color: #6c63ff;

.todo {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  text-align: center;

  &.dark-theme {
    background-color: $text-color-dark;

    .todo__title {
      color: $text-color;
    }
  }
}

.field {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.todo__title, 
.todo-list {
  width: 100%;
  max-width: 750px;
}

.button__theme {
  background-color: $border-color;
  color: $text-color;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-item__delete-button {
  background-color: #ffffff;
  border: none;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease;
  margin-left: 10px;
  color: #cdcdcd;

  &:hover {
    svg path {
      stroke: $primary-color;
    }
  }
}

.todo__title, .field, .todo-list {
  max-width: 750px; 
  width: 100%;
}

.button__add {
  background-color: $border-color;
  color: $text-color;
  border: none;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  font-weight: 650px;
  font-weight: 500;
  font-size: 40px;
  margin-left: 700px;
}
