$primary-color: #6c63ff;
$text-color: #F7F7F7;
$border-color: #6c63ff;

.todo {
  max-width: 750px;
  width: 100%;      
  margin: 0 auto;    
  text-align: center;
}

.todo__title {
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 18px;
}

.todo__field {
  display: flex;
  gap: 16px;
  height: 38px;
}

.field__input {
  width: 100%;
  padding: 11px 16px;
  border: 1px solid $border-color;
  border-radius: 5px;
  outline: none;
  height: 38px;

  &::placeholder {
    color: #c3c1e5;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    pointer-events: none;
  }
}

.field {
  &__search-wrapper {
    position: relative;
    flex-grow: 1; 
    display: flex;
    align-items: center;
  }
  
  &__search-icon {
    position: absolute;
    right: 8.5px;
    pointer-events: none;
    color: #6c63ff;
  }
}

.button__all {
  background-color: $border-color;
  color: $text-color;
  border: none;
  border-radius: 5px;
  width: 85px;
  height: 38px;
  cursor: pointer;
  font-weight: 65px;
  font-weight: 500;
  font-size: 18px;
}





































