$primary-color: #6c63ff;
$text-color: #f7f7f7;
$border-color: #6c63ff;

.select__all {
  background-color: $border-color;
  color: $text-color;
  border: none;
  border-radius: 5px;
  width: 85px;
  height: 38px;
  cursor: pointer;
  font-weight: 65px;
  font-weight: 500;
  font-size: 18px;

  option {
    background-color: $text-color; 
    color: $primary-color;
  }

}

