.todo__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;
  width: 100%;
  align-items: center;
}

.notFound {
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 18px;
  margin-top: 50px;
  color: var( --text-color);
  margin-top: 20px;
}

.noFound {
  margin-top: 30px;
}
