@keyframes openIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0); 
  }
}

.todo__item {
  display: flex;
  align-items: center;
  padding-bottom: 17px;
  width: 100%;
  width: 525px;
  border-bottom: 1px solid #6C63FF;
  animation: openIn 0.5s ease-out; 
}

.todoItem__checkbox {
  width: 26px;
  height: 26px;
  -webkit-appearance: none;
  width: 26px;
  height: 26px;
  border: 1px solid #6C63FF;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 17px;
}

.todoItem__checkbox:checked {
 background-image: url("../../../src/shared/assets/svg/checked.svg");
 background-repeat: no-repeat;
 background-position: center center;
}

.todoItem__label {
  width: 420px;
  cursor: pointer;
  font-weight: 500;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.todoItemCompleted {
  .todoItem__label {
    text-decoration: line-through;
    color: var(--text-edit);
    opacity: 0.5;
  }

  .todoItem__checkbox {
    background-color: #6C63FF;
  }
}

.todoItem__actions {
  display: flex;
  gap: 5px;
}

.todoItem__edit {
  flex: 1;
  font-size: 16px;
  color: #C8C8C8;
  border: none;
  outline: none;
  text-decoration: underline;
  text-decoration-style: dashed;
  text-underline-offset: 5px;
}

.deleting {
  opacity: 0;
  transform: translateX(-20px);
  transition: opacity 500ms ease, transform 500ms ease;
  pointer-events: none; 
}